<main>
  <div class="container">
    <%= form_with(model: @category) do |form| %>
      <div class="field mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= form.label :external_id, class: "form-label" %>
        <%= form.text_field :external_id, class: "form-control" %>
      </div>

      <div class="actions mb-3">
        <%= form.submit nil, class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= link_to 'Back', reagent_categories_path, class: "btn btn-danger" %>
  </div>
</main>