<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagent_categories_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">

    <p>
      <strong>Name:</strong>
      <span><%= @category.name %></span>
    </p>

    <p>
      <strong>External Id:</strong>
      <span><samp><%= @category.external_id %></samp></span>
    </p>

    <strong>Reagents for this Category</strong>
    <div class="row">
      <div class="col">

        <table class="table">
          <thead>
            <tr>
              <th>name</th>
              <th>Current Volume</th>
              <th>Max Volume</th>
              <th>Show</th>
            </tr>
          </thead>
          <tbody>
          <% @category.reagents(current_user).each do |reagent| %>
            <tr id="reagent_<%= reagent.id %>">
              <td><%= reagent.name %></td>
              <td data-volume-row><%= reagent.current_volume %></td>
              <td><%= reagent.max_volume %></td>
              <td><%= link_to "Details", reagent_path(reagent), class: "btn btn-outline-info" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if current_user.admin? %>
    <%= link_to 'Edit', edit_reagent_category_path(@category), class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'Back', reagent_categories_path, class: "btn btn-info" %>

    <hr>
    <strong>Cocktails which use this category</strong>
    <%= render 'shared/cocktails_table', cocktails: @cocktails, read_only: false %>
  </div>
</main>