<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagent_categories_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <%= render 'shared/notice' %>

    <p>
      <strong>Name:</strong>
      <span><%= @category.name %></span>
    </p>

    <p>
      <strong>External Id:</strong>
      <span><samp><%= @category.external_id %></samp></span>
    </p>

    <% if current_user.present? && current_user.admin? %>
    <%= link_to 'Edit Category', edit_reagent_category_path(@category), class: "btn btn-primary" %>
    <% end %>
    <hr>

    <% if user_signed_in? %>
    <strong>Your bottles in this Category</strong>
    <div class="row">
      <div class="col table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>name</th>
              <th>Current Volume</th>
              <th>Max Volume</th>
              <th>Show</th>
            </tr>
          </thead>
          <tbody>
          <% @category.reagents(current_user).each do |reagent| %>
            <tr id="reagent_<%= reagent.id %>">
              <td><%= reagent.name %></td>
              <td data-volume-row><%= reagent.current_volume %></td>
              <td><%= reagent.max_volume %></td>
              <td><%= link_to "Details", reagent_path(reagent), class: "btn btn-outline-info" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <% end %>

    <strong>Cocktails which use this category</strong>
    <%= render 'shared/cocktails_table', cocktails: @cocktails, read_only: false, render_counts: user_signed_in?, fast_counts: true %>

    <hr>
    <strong>Reference Bottles in this category</strong>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>
          </tr>
        </thead>
        <tbody>
          <% @reference_bottles.each do |bottle| %>
            <tr>
              <td><%= bottle.name %></td>
              <td><img src=<%= bottle.main_image_url %> class="img-fluid img-thumbail" style="max-width: 10rem" ></td>
              <td><%= bottle.description %></td>
              <td><%= link_to "Edit", edit_reference_bottle_path(bottle), class: "btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if current_user.present? && current_user.admin? %>
    <%= link_to 'Add Reference Bottle', new_reference_bottle_path(reagent_category: @category), class: "btn btn-primary" %>
    <% end %>

  </div>
</main>