<% content_for :per_page_js do %>
  <%= javascript_pack_tag "shared_cocktails_index", "data-turbo-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= form_with(url: "/shared_cocktails", method: "GET") do |form| %>
          <div class="field mb-1">
            <%= form.label :search_term, class: "form-label" %>
            <%= form.text_field :search_term, class: "form-control", value: params['search_term'] %>
          </div>

          <div class="field mb-2">
            <%= form.label :ingredient_search, class: "form-label" %>
            <select class="form-select ingredient-select" name="search_tags[]" multiple="multiple">
              <% @reagent_categories.each do |reagent_category| %>
                <option value=<%= reagent_category.external_id %><% if params['search_tags'].present? && params['search_tags'].include?(reagent_category.external_id) %> selected<% end %>><%= reagent_category.external_id %></option>
              <% end %>
            </select>
            <div class="form-text">This is an AND query, which will contain only matching ingredients as you click "Search"</div>
          </div>

          <% if user_signed_in? %>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="makeableSwitch" name="makeable" <% if params['makeable'] == 'on' %>checked<% end %>>
            <label class="form-check-label" for="makeableSwitch">Only Drinks I can make now</label>
          </div>
          <% end %>

          <div class="action mb-1">
            <%= form.submit "Search", class: "btn btn-primary" %>
          </div>

          <% if @dead_end %>
          <p>Your combination of "<%= @tags_search.join(', ') %>" resulted in zero cocktails which have all those ingredients. Click "search" again to reset</p>
          <% end %>

          <hr>
          <div>
            <span>Facets</span>
            <button class="btn btn-outline-info btn-sm mb-1" type="button" data-bs-toggle="collapse" data-bs-target=".facets-collapse" aria-expanded="false">Show Facets</button>
          </div>

          <div>
            <div style="max-height:70vh" class="collapse facets-collapse overflow-auto">
              <ul>
              <% @processed_facets.each do |tag, count| %>
                <li>
                  <button
                    type="button"
                    class="btn btn-outline-primary btn-sm mb-1"
                    data-controller="facets"
                    data-action="click->facets#clicked"
                    data-tag=<%= tag.gsub('/', '_') %>
                  >
                    <%= tag.gsub('/', '_') %> <span class="badge bg-secondary"><%= count['ndoc'] %><span>
                  </button>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-9">
      <%= render 'shared/cocktails_table', cocktails: @cocktails, read_only: true, render_counts: user_signed_in? %>
      </div>
    </div>

    <% if user_signed_in? && current_user.admin? %>
      <hr>
      <p>Review these cocktails for addition to the shared list</p>
      <div class="col-sm">
        <div class="table-responsive">
          <table class="table" id="cocktailsTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Accept into shared?</th>
              </tr>
            </thead>
            <tbody>
              <% @proposal_cocktails.each do |cocktail| %>
                <tr>
                  <td><%= cocktail.name.html_safe %></td>
                  <td>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Ingredient</th>
                          <th>Amounts</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% cocktail.reagent_amounts.each do |amount| %>
                          <tr>
                            <td>
                              <samp>
                                <% amount.tags.each_with_index do |tag, i| %>
                                  <%= tag %><% if i != amount.tags.size - 1 %><span>, </span><% end %>
                                <% end %>
                              </samp>
                            </td>
                            <td>
                              <%= amount.required_volume %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                  <td><%= link_to "Accept", shared_cocktail_promote_to_shared_path(cocktail), method: "post", class: "btn btn-outline-success", data: { cocktail_id: cocktail.id } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</main>