<% content_for :per_page_js do %>
  <%= javascript_pack_tag "cocktails_form", "data-turbo-track": 'reload' %>
<% end %>

<%= form_with(model: cocktail, url: @form_path, id: "cocktailForm") do |form| %>
  <% if cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
        <% cocktail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", value: cocktail.name&.html_safe, required: true %>
  </div>

  <h4>Ingredients</h4>

  <div id="ingredients">
    <%# this is the hidden base input that is copied via javascript %>
    <%= render "ingredients_input", form: form, editing: false, existing_id: nil, allow_new_tags: true %>

    <%# there's probably a better "rails" way to do this. Maybe just use a different form? %>
    <% if @editing %>
      <% @cocktail.reagent_amounts.each do |reagent_amount| %>
        <%= render "ingredients_input", form: form, editing: @editing, existing_id: rand(2...100000), reagent_amount: reagent_amount, allow_new_tags: true %>
      <% end %>
    <% end %>
  </div>

  <button class="btn btn-success mb-3" id="more-ingredients-trigger" type="button" data-action="more-ingredients">More Ingredients</button>

  <hr>

  <div class="actions mb-3">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>