<div class="mb-3 ingredient-group border rounded" data-controller="ingredients-select" <% if editing %>id="<%= existing_id %>", data-edit-ingredients="true"<% else %>id="base-reagent-group" hidden<% end %>>
  <div class="row m-3">
    <div class="col-sm">
      <div class="input-group">
        <span class="input-group-text">Tags:</span>
        <select
          class="form-select ingredient-select"
          name="recipe[ingredients][reagent_category_id][]"
          <% if editing %>
          id=<%= "select-#{existing_id}" %>
          data-existing-select="true"
          <% end %>
          multiple="multiple"
          data-ingredients-select-target="select">
          <% @reagent_categories.each do |reagent_category| %>
            <option value=<%= reagent_category.external_id %><% if editing && reagent_amount.tags.include?(reagent_category.external_id) %> selected<% end %>><%= reagent_category.external_id %></option>
          <% end %>
        </select>
      </div>
      <% if allow_new_tags %>
      <div class="form-text">You can add new tags if they don't appear in the dropdown</div>
      <% end %>
    </div>
  </div>
  <div class="row m-3 input-row">
    <div class="col-auto mb-3">
      <label>Quick Selects:</label>
      <div class="border rounded p-3">
        <button class="btn btn-outline-secondary quick-select-button" type="button" data-action="quick-select" data-amount="1.5" data-unit="oz">1.5 oz</button>
        <button class="btn btn-outline-secondary quick-select-button" type="button" data-action="quick-select" data-amount="0.75" data-unit="oz">0.75 oz</button>
        <button class="btn btn-outline-secondary quick-select-button" type="button" data-action="quick-select" data-amount="0.5" data-unit="oz">0.5 oz</button>
      </div>
    </div>

    <div class="col-sm">
      <div class="input-group mb-3">
        <span class="input-group-text">Reagent Amount</span>
        <% if editing %>
        <%= form.number_field :reagent_amount, step: :any, class: "form-control amount-input", multiple: true, name: "recipe[ingredients][reagent_amount][]", required: true, value: reagent_amount.amount %>
        <% else %>
        <%= form.number_field :reagent_amount, step: :any, class: "form-control amount-input", multiple: true, name: "recipe[ingredients][reagent_amount][]" %>
        <% end %>
      </div>

      <div class="input-group">
        <span class="input-group-text">Reagent Unit</span>
        <select class="form-select unit-input" name="recipe[ingredients][reagent_unit][]">
          <% @possible_units.each do |unit_value| %>
            <% if editing %>
            <option value=<%= unit_value %><% if reagent_amount.unit == unit_value %> selected<% end %>><%= unit_value %></option>
            <% else %>
            <option value=<%= unit_value %>><%= unit_value %></option>
            <% end %>
          <% end %>
        </select>
      </div>

      <div class="form-check mt-3">
        <label for="optionalCheck">Optional?</label>
        <input class="form-check-input optional-check" name="optionalCheck" type="checkbox" <% if editing && reagent_amount.optional? %> checked<% end %>>
      </div>
    </div>
  </div>

  <button class="btn btn-danger m-3 delete-button" type="button" data-action="delete-reagent">Delete Reagent</button>
</div>