<% content_for :per_page_js do %>
  <%= javascript_pack_tag "cocktails_index", "data-turbo-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <%= render 'shared/notice' %>
    <div class="row">
      <div class="col-sm-3">
        <%= form_with(url: "/cocktails", method: "GET") do |form| %>
          <div class="field mb-1">
            <%= form.label :search_term, class: "form-label" %>
            <%= form.text_field :search_term, class: "form-control", value: params['search_term'] %>
          </div>

          <div class="field mb-2">
            <%= form.label :ingredient_search, class: "form-label" %>
            <select class="form-select ingredient-select" name="search_tags[]" multiple="multiple">
              <% @reagent_categories.each do |reagent_category| %>
                <option value=<%= reagent_category.external_id %><% if params['search_tags'].present? && params['search_tags'].include?(reagent_category.external_id) %> selected<% end %>><%= reagent_category.external_id %></option>
              <% end %>
            </select>
            <div class="form-text">This is an AND query, which will contain only matching ingredients as you click "Search"</div>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="makeableSwitch" name="makeable" <% if params['makeable'] == 'on' %>checked<% end %>>
            <label class="form-check-label" for="makeableSwitch">Only drinks I can make now</label>
          </div>

          <div id="toggles">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="userRecipesOnlySwitch" name="user_recipes_only" <% if params['user_recipes_only'] == 'on' %>checked<% end %>>
              <label class="form-check-label" for="userRecipesOnlySwitch">Only my drinks</label>
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="sharedRecipesOnlySwitch" name="shared_recipes_only" <% if params['shared_recipes_only'] == 'on' %>checked<% end %>>
              <label class="form-check-label" for="sharedRecipesOnlySwitch">Only shared drinks</label>

            </div>
            <div class="collapse" id="toggleHelpCollapse">
              <div class="form-text">Having both of these toggles on doesn't make much sense</div>
            </div>
          </div>

          <div class="action mb-1">
            <%= form.submit "Search", class: "btn btn-primary" %>
          </div>

          <% if @dead_end %>
          <p>Your combination of "<%= @tags_search.join(', ') %>" resulted in zero cocktails which have all those ingredients. Click "search" again to reset</p>
          <% end %>

          <hr>
          <div>
            <span>Facets</span>
            <button class="btn btn-outline-info btn-sm mb-1" type="button" data-bs-toggle="collapse" data-bs-target=".facets-collapse" aria-expanded="false">Show Facets</button>
          </div>

          <div style="max-height:70vh" class="collapse facets-collapse overflow-auto">
            <ul>
            <% @processed_facets.each do |tag, count| %>
              <li>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm mb-1"
                  data-controller="facets"
                  data-action="click->facets#clicked"
                  data-tag=<%= tag.gsub('/', '_') %>
                >
                  <%= tag.gsub('/', '_') %> <span class="badge bg-secondary"><%= count['ndoc'] %><span>
                </button>
              </li>
            <% end %>
            </ul>
          </div>

        <% end %>
        <hr>
        <%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
      </div>

      <div class="col-sm-9">
      <%= render 'shared/cocktails_table', cocktails: @cocktails, read_only: false, render_counts: user_signed_in? %>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
    </div>

    <div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong>Watch out!</strong>
      </div>
      <div class="toast-body">
        <span data-toast-body></span>
      </div>
    </div>
  </div>
</main>