<% content_for :per_page_js do %>
  <%= javascript_pack_tag "cocktail_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <div class="modal fade" id="boughtThisModal" tabindex="-1" aria-labelledby="boughtThisModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">What did you buy?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/notice' %>

    <p>
      <strong>Name:</strong>
      <%= @cocktail.name.html_safe %>
    </p>

    <p>
      <strong>Favorite?:</strong>
      <% if @cocktail.favorite %>
        Yes
      <% else %>
        No
      <% end%>
    </p>

    <p>
      <strong>Ingredients</strong>
    </p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
            <th>Required Volume</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @cocktail.reagent_amounts.each do |reagent_amount| %>
            <tr <% if reagent_amount.reagent_available?(current_user) %> class="table-success"<% end %>>
              <td>
                <samp>
                  <% reagent_amount.tags.each_with_index do |tag, i| %>
                    <%= link_to tag, reagent_category_path(tag) %><% if i != reagent_amount.tags.size - 1 %><span>, </span><% end %>
                  <% end %>
                </samp>
              </td>
              <td><%= "#{reagent_amount.amount} #{reagent_amount.unit}" %></td>
              <td><%= reagent_amount.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <hr>
    <strong>Cocktail Stats</strong>
    <span>You've made this drink <span id="made_count"><%= @stats[:made_count] %></span> times!</span>
    <hr>

    <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
    <%= link_to 'Back', cocktails_path, class: "btn btn-info" %>

    <%= render 'shared/made_this_modal' %>

    <p class="mt-3">
      <button class="btn btn-success made-this-button" id='make_cocktail_link' data-cocktail-id=<%= @cocktail.id %>>Make Drink</button>
    </p>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
    </div>

    <div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong>Cheers!</strong>
      </div>
      <div class="toast-body">
        <span data-toast-body></span>
      </div>
    </div>
  <div>
</main>