<% content_for :per_page_js do %>
  <%= javascript_pack_tag "cocktail_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <%= render 'shared/notice' %>

    <div class="row mt-3">
      <div class="col-sm-3">
        <p>
          <strong>Name:</strong>
          <%= @cocktail.name.html_safe %>
        </p>

        <p>
          <strong>Favorite?:</strong>
          <% if @cocktail.favorite %>
            Yes
          <% else %>
            No
          <% end%>
        </p>
      </div>
      <div class="col">
        <strong>Cocktail Stats:</strong>
        <p>You've made this drink <span id="made_count"><%= @stats[:made_count] %></span> times!</p>
      </div>
    </div>
    <% if @cocktail.parent.present? %>
      <p><small>This recipe was originally copied from the <%= link_to @cocktail.parent.name.html_safe, shared_cocktail_path(@cocktail.parent) %></small></p>
    <% end %>

    <hr>

    <p>
      <strong>Ingredients:</strong>
    </p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
            <th>Required Volume</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tbody>
          <% @cocktail.reagent_amounts.each do |reagent_amount| %>
            <% availability = reagent_amount.reagent_availability(current_user) %>
            <tr <% if availability.any? { |a| a[:garnish] } %> class="table-info"<% elsif availability.any? { |a| a[:enough] } %> class="table-success"<% elsif availability.present? %> class="table-warning"<% end %>>
              <td>
                <samp>
                  <% reagent_amount.tags.each_with_index do |tag, i| %>
                    <%= link_to tag, reagent_category_path(tag) %><% if i != reagent_amount.tags.size - 1 %><span>, </span><% end %>
                  <% end %>
                </samp>
              </td>
              <td><%= "#{reagent_amount.amount} #{reagent_amount.unit}" %></td>
              <td><%= reagent_amount.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-primary" %>
    <%= link_to 'Back', cocktails_path, class: "btn btn-info" %>

    <%= render 'shared/made_this_modal' %>

    <p class="mt-3">
      <% if @cocktail.user_can_make?(current_user) %>
      <span>You can make this drink! If you want to, click here:</span>
      <button class="btn btn-success made-this-button" id='make_cocktail_link' data-cocktail-id=<%= @cocktail.id %>>Make Drink</button>
      <% else %>
      <%= render 'shared/reagents_guide' %>
      <% end %>
    </p>

    <hr>

    <p class="mt-3">
      <p>Ready to share this cocktail with the world? Hit the "Propose for sharing" button below and we'll consider it for addition to the global <a href="/shared_cocktails">list!</a></p>
      <%= form_with(url: "#{@cocktail.id}/propose_to_share", method: "POST", local: false) do |form| %>
        <%= form.submit 'Propose to Share', class: "btn btn-primary", id: 'propose_sharing_button' %>
      <% end %>
    </p>

    <%= render 'shared/error_toast' %>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
    </div>

    <div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong>Cheers!</strong>
      </div>
      <div class="toast-body">
        <span data-toast-body></span>
      </div>
    </div>
  <div>
</main>