<%= turbo_stream.replace "made_count", @old_count + 1 %>
<%= turbo_stream.replace "made_globally_count", @old_global_count + 1 %>

<%= turbo_stream.prepend "toastDestination", partial: 'shared/cheers_toast_body' %>

<%= turbo_stream.update "drinkMakingShowContent" do %>
  <p>You made a <%= link_to @cocktail.name.html_safe, cocktail_path(@cocktail) %>!</p>

  <p>Leave notes on what you made in your <%= link_to "audit log", audit_path(@audit) %></p>
<% end %>

<%= turbo_stream.prepend "userNotesTableBody" do %>
  <tr>
    <td><%= link_to @audit.created_at.strftime("%B %d, %Y"), audit_path(@audit) %></td>
    <td><%= @audit.star_count %></td>
    <td><%= @audit.notes || 'no notes' %></td>
  </tr>
<% end %>