<%= form_with(model: reference_bottle) do |form| %>
  <% if reference_bottle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference_bottle.errors.count, "error") %> prohibited this reference_bottle from being saved:</h2>

      <ul>
        <% reference_bottle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :reagent_category, class: "form-label" %>
    <%= form.select :reagent_category_id, ReagentCategory.all.order(:name).collect { |c| [ c.name, c.id ] }.to_h, { include_blank: true, selected: reference_bottle.reagent_category_id || params[:reagent_category] }, class: "form-select" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :main_image_url, class: "form-label" %>
    <%= form.text_field :main_image_url, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :cost_reference, class: "form-label" %>
    <%= form.number_field :cost_reference, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
