<div class="table-responsive">
  <table class="table" id="cocktailsTable">
    <thead>
      <tr>
        <th>Name</th>
        <% if render_counts %>
        <th>Count of reagents available</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% cocktails.each do |cocktail| %>
        <tr id="cocktail_<%= cocktail.id %>" <% if cocktail.user_id.blank? %> class="table-secondary"<% end %>>
          <% if cocktail.user_id.present? %>
          <td><%= link_to cocktail.name.html_safe, cocktail_path(cocktail) %></td>
          <% else %>
          <td><%= link_to cocktail.name.html_safe, shared_cocktail_path(cocktail) %></td>
          <% end %>
          <% if render_counts %>
          <td id="cocktail_<%= cocktail.id %>_count_row"><%= "#{@availability.available_counts[cocktail.id][:available]} of #{@availability.available_counts[cocktail.id][:required]}" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @cocktails %>