<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Tags</th>
        <th>Required Volume</th>
        <th>Detail</th>
        <th>Your bottles</th>
        <th>Add to shopping list</th>
      </tr>
    </thead>
    <tbody>
      <% cocktail.reagent_amounts.each do |reagent_amount| %>
        <% availability = reagent_amount.reagent_availability(current_user) %>
        <tr <% if availability.any? { |a| a[:garnish] } %> class="table-info"<% elsif availability.any? { |a| a[:enough] } %> class="table-success"<% elsif availability.present? %> class="table-warning"<% end %>>
          <td>
            <samp>
              <% reagent_amount.tags.each_with_index do |tag, i| %>
                <%= link_to tag, reagent_category_path(tag), data: { turbo_frame: '_top' } %><% if i != reagent_amount.tags.size - 1 %><span>, </span><% end %>
              <% end %>
            </samp>
          </td>
          <td><%= "#{reagent_amount.amount} #{reagent_amount.unit}" %></td>
          <td><%= reagent_amount.description %></td>
          <td>
            <% if user_signed_in? %>
            <%= reagent_amount.matching_reagents(current_user).has_volume.map { |bottle| link_to("#{bottle.name} (#{Lib.format_volume(bottle.current_volume, reagent_amount.unit)})", reagent_path(bottle), data: { turbo_frame: '_top' })}.join('<span>, </span>').html_safe %>
            <% else %>
            <span>Create an account to see your bottles here!</span>
            <% end %>
          </td>
          <td>
            <%= render 'shared/shopping_form', reagent_amount: reagent_amount, shopping_lists: @shopping_lists, existing_shopping_list_map: @existing_shopping_list_map %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>