<% content_for :per_page_js do %>
  <%= javascript_pack_tag "home_index", "data-turbo-track": 'reload' %>
<% end %>
<div class="container" id="homeContainer">

  <% unless user_signed_in? %>
    <%= render 'logged_out_info' %>
  <% end %>

  <% if user_signed_in? %>
    <%= render 'shared/made_this_modal' %>

    <div class="display-3">Drinks you can make right now</div>
    <div class="display-5">These <%= @users_available.count %> Cocktails:</div>
    <div class="row">
      <div class="col-sm-10 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 15%">Name</th>
              <th style="width: 20%">Show Ingredients</th>
              <th style="width: 65%">Ingredients</th>
            </tr>
          </thead>
          <tbody>
            <% @users_available.each do |cocktail| %>
              <tr>
                <td><%= link_to cocktail.name.html_safe, cocktail_path(cocktail) %></td>
                <td><button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#ingredients_<%= cocktail.id %>" data-toggled="false">Show Ingredients</button></td>
                <td>
                  <div class="collapse" id="ingredients_<%= cocktail.id %>">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Ingredient</th>
                          <th>Required Volume</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% cocktail.reagent_amounts.each do |reagent_amount| %>
                          <tr>
                            <td>
                              <samp>
                                <% reagent_amount.tags.each_with_index do |tag, i| %>
                                  <%= link_to tag, reagent_category_path(tag) %><% if i != reagent_amount.tags.size - 1 %><span>, </span><% end %>
                                <% end %>
                              </samp>
                            </td>
                            <td><%= "#{reagent_amount.amount} #{reagent_amount.unit}" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <button data-cocktail-id=<%= cocktail.id %> data-pre-route="/cocktails" class="btn btn-primary made-this-button">Make Drink</button>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="display-5">These <%= @shared_available.count %> Shared Cocktails:</div>
      <div class="row">
        <div class="col-sm-10 table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 15%">Name</th>
                <th style="width: 20%">Show Ingredients</th>
                <th style="width: 65%">Ingredients</th>
              </tr>
            </thead>
            <tbody>
              <% @shared_available.each do |cocktail| %>
                <tr>
                  <td><%= link_to cocktail.name.html_safe, shared_cocktail_path(cocktail) %></td>
                  <td><button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#ingredients_<%= cocktail.id %>" data-toggled="false">Show Ingredients</button></td>
                  <td>
                    <div class="collapse" id="ingredients_<%= cocktail.id %>">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Ingredient</th>
                            <th>Required Volume</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% cocktail.reagent_amounts.each do |reagent_amount| %>
                            <tr>
                              <td>
                                <samp>
                                  <% reagent_amount.tags.each_with_index do |tag, i| %>
                                    <%= link_to tag, reagent_category_path(tag) %><% if i != reagent_amount.tags.size - 1 %><span>, </span><% end %>
                                  <% end %>
                                </samp>
                              </td>
                              <td><%= "#{reagent_amount.amount} #{reagent_amount.unit}" %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <button data-cocktail-id=<%= cocktail.id %> data-shared-cocktail='true' data-pre-route="/cocktails" class="btn btn-primary made-this-button">Make Drink</button>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%= render 'shared/error_toast' %>
    <%= render 'shared/cheers_toast' %>

  <% end %>
</div>