<div class="container">
  <h1>Look at all the drinks you can make!</h1>

  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @available_cocktails.each do |cocktail| %>
            <tr>
              <td><%= cocktail.id %></td>
              <td><%= cocktail.name %></td>
              <td><button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#cocktail_<%= cocktail.id %>">Show Ingredients</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <% @available_cocktails.each do |cocktail| %>
        <div class="collapse" id="cocktail_<%= cocktail.id %>">
          <div class="card card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Ingredient</th>
                  <th>Required Volume</th>
                </tr>
              </thead>
              <tbody>
                <% cocktail.reagent_amounts.each do |reagent_amount| %>
                  <tr>
                    <td><%= reagent_amount.id %></td>
                    <td><%= reagent_amount.reagent&.name || reagent_amount.reagent_category&.name %></td>
                    <td><%= reagent_amount.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>