<% content_for :per_page_js do %>
  <%= javascript_pack_tag "home_index", "data-turbolinks-track": 'reload' %>
<% end %>
<div class="container">
  <h1>Look at all the drinks you can make!</h1>

  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @available_cocktails.each do |cocktail| %>
            <tr>
              <td><%= cocktail.id %></td>
              <td><%= cocktail.name %></td>
              <td><button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#ingredients_<%= cocktail.id %>" data-toggled="false">Show Ingredients</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3" id="cocktails_collapses">
      <% @available_cocktails.each do |cocktail| %>
        <div class="collapse" id="ingredients_<%= cocktail.id %>">
          <strong><%= cocktail.name %></strong>
          <div class="card card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Ingredient</th>
                  <th>Required Volume</th>
                </tr>
              </thead>
              <tbody>
                <% cocktail.reagent_amounts.each do |reagent_amount| %>
                  <tr>
                    <td><%= reagent_amount.id %></td>
                    <td><%= reagent_amount.reagent&.name || reagent_amount.reagent_category&.name %></td>
                    <td><%= reagent_amount.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "I made this!", cocktail_make_drink_path(cocktail), remote: true, method: :post, class: "btn btn-primary", data: { quantity: 1, cocktail_id: cocktail.id } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
  </div>

  <div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong>Cheers!</strong>
    </div>
    <div class="toast-body">
      <span data-toast-body></span>
    </div>
  </div>
</div>