<main>
  <div class="container">
    <h1>Audit Info</h1>

    <%= render 'shared/notice' %>

    <p>
      <strong>Drink Made:</strong>
      <% if @audit.recipe.present? %>
        <% if @audit.recipe.user_id.present? %>
        <span><%= link_to @audit.recipe.name.html_safe, cocktail_path(@audit.recipe) %></span>
        <% else %>
        <span><%= link_to @audit.recipe.name.html_safe, shared_cocktail_path(@audit.recipe) %></span>
        <% end %>
      <% else %>
        <span><%= @audit.backup_name.html_safe %></span>
      <% end %>
      <% if @audit.ephemeral_recipe? %>
      <p>This drink was made via the drink builder.<% if @audit.recipe.present? %> Do you want to promote it to your full collection? You can do that via the <%= link_to 'drink page', cocktail_path(@audit.recipe) %><% end %></p>
      <% end %>
    </p>

    <p>
      <strong>Time Made:</strong>
      <span><%= @audit.created_at.to_formatted_s(:long_ordinal) %></span>
    </p>

    <h3>Specifics:</h3>
    <div class="row">
      <div class="col">
        <table class="table" id="specificAuditsTable">
          <thead>
            <tr>
              <th>Reagent Used</th>
              <th>Amount Used</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @audit.reagents.each do |used| %>
              <tr>
                <td><%= used.name.html_safe %><% if used.substituted %> <small><em><%= "Substituted for #{used.original_tags}" %></em></small><% end %></td>
                <td><%= "#{used.amount} #{used.unit.html_safe}" %></td>
                <td><%= used.description&.html_safe %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <p>
      Update your opinions on the drink here:
    </p>
    <div class="col-sm-5 border rounded mb-3">
    <%= render 'form', audit: @audit %>
    </div>

    <%= link_to 'Delete (and reverse) audit', audit_path(@audit), class: "btn btn-danger", method: 'delete', data: { confirm: 'Are you sure you want to reverse this audit? You cannot undo this action' }%>
  </div>
</main>