<%= form_with(model: reagent) do |form| %>
  <% if reagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reagent.errors.count, "error") %> prohibited this reagent from being saved:</h2>

      <ul>
        <% reagent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :cost, class: "form-label" %>
    <%= form.text_field :cost, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :purchase_location, class: "form-label" %>
    <%= form.text_field :purchase_location, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :max_volume, class: "form-label" %>
    <%= form.text_field :max_volume, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :current_volume_percentage, class: "form-label" %>
    <%= form.text_field :current_volume_percentage, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>