<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagents_form", "data-turbolinks-track": 'reload' %>
<% end %>

<%= form_with(model: reagent) do |form| %>
  <% if reagent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reagent.errors.count, "error") %> prohibited this reagent from being saved:</h2>

      <ul>
        <% reagent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :tags, class: "form-label" %>
    <select class="form-select ingredient-select" name="reagent[tags][]" multiple="multiple">
      <% @reagent_categories.each do |reagent_category| %>
        <option value=<%= reagent_category.external_id %><% if reagent.tags.include?(reagent_category.external_id) %> selected<% end %>><%= reagent_category.external_id %></option>
      <% end %>
    </select>
  </div>

  <div class="field mb-3">
    <%= form.label :max_volume, class: "form-label" %>
    <%= form.text_field :max_volume_value, class: "form-control", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :current_volume, class: "form-label" %>
    <%= form.text_field :current_volume_value, class: "form-control", required: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :volume_unit, class: "form-label" %>
    <%= form.select :volume_unit, @possible_units.map { |unit| [ unit, unit ] }.to_h, { selected: reagent.max_volume_unit }, class: "form-select" %>
  </div>

  <div class="field mb-3">
    <%= form.label :cost, class: "form-label" %>
    <%= form.text_field :cost, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :purchase_location, class: "form-label" %>
    <%= form.text_field :purchase_location, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>