<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagents", "data-turbo-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <%= render 'shared/notice' %>
    <div class="row">
      <div class="col-sm-3">
        <%= form_with(url: "/reagents", method: "GET") do |form| %>
          <div class="field mb-1">
            <%= form.label :search_term, class: "form-label" %>
            <%= form.text_field :search_term, class: "form-control", value: params['search_term'] %>
          </div>

          <div class="field mb-2">
            <%= form.label :ingredient_search, class: "form-label" %>
            <select class="form-select reagent-select" name="search_tags[]" multiple="multiple">
              <% @reagent_categories.each do |reagent_category| %>
                <option value=<%= reagent_category.external_id %><% if params['search_tags'].present? && params['search_tags'].include?(reagent_category.external_id) %> selected<% end %>><%= reagent_category.external_id %></option>
              <% end %>
            </select>
            <div class="form-text">This is an OR query</div>
          </div>

          <div class="action mb-1">
            <%= form.submit "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= link_to 'New Bottle', new_reagent_path, class: 'btn btn-primary' %>
        <hr>
        <div class="form-text">Your bottle list is missing these common ingredients. Click below to quickly add them.</div>
        <% @basics_missing.each do |basic_model| %>
          <%= link_to "#{basic_model[:name]}", new_reagent_path(basic_model), class: 'btn btn-info mb-3' %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <div class="table-responsive">
          <table class="table" id="reagentsTable">
            <thead>
              <tr>
                <th>name</th>
                <th>Tags</th>
                <th>Current Volume</th>
                <th>Max Volume</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @reagents.each do |reagent| %>
                <tr id="reagent_<%= reagent.id %>">
                  <td><%= link_to reagent.name, reagent_path(reagent) %></td>
                  <td>
                    <samp>
                      <% reagent.tags.each_with_index do |tag, i| %>
                        <%= link_to tag, reagent_category_path(tag) %><% if i != reagent.tags.size - 1 %><span>, </span><% end %>
                      <% end %>
                    </samp>
                  </td>
                  <td data-volume-row><%= reagent.current_volume %></td>
                  <td><%= reagent.max_volume %></td>
                  <td>
                    <%= link_to "Refill", reagent_refill_path(reagent, format: 'json'), remote: true, method: "post", class: "btn btn-outline-success", data: { reagent_id: reagent.id, confirm: "Are you sure you want to refill #{reagent.name}?" } %>
                    <%= link_to "Empty", reagent_empty_path(reagent, format: 'json'), remote: true, method: "post", class: "btn btn-outline-danger", data: { reagent_id: reagent.id, confirm: "Are you sure you want to empty #{reagent.name}?" } %>
                    <%= link_to "Add To List", reagent_add_to_list_path(reagent), class: "btn btn-outline-info", data: { turbo_frame: 'addToShoppingListModalFrame' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <a href="/bulk_reagents" class="btn btn-info">Bulk import reagents</a>
      </div>
    </div>

    <%= render 'shared/add_to_shopping_list_modal' %>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastDestination" style="z-index: 11">
    </div>

    <div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong>Watch out!</strong>
      </div>
      <div class="toast-body">
        <span data-toast-body></span>
      </div>
    </div>
  </div>
</main>