<main>
  <%= javascript_pack_tag "reagents", "data-turbolinks-track": true %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= form_with(url: "/reagents", method: "GET") do |form| %>
          <div class="field mb-1">
            <%= form.label :search_term, class: "form-label" %>
            <%= form.text_field :search_term, class: "form-control", value: params['search_term'] %>
          </div>

          <div class="action mb-1">
            <%= form.submit "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-10">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>Current Volume</th>
              <th>Max Volume</th>
              <th>Refill</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @reagents.each do |reagent| %>
              <tr>
                <td><%= reagent.id %></td>
                <td><%= reagent.name %></td>
                <td><%= reagent.current_volume_percentage * (reagent.max_volume || 0.0) %></td>
                <td><%= reagent.max_volume %></td>
                <td><%= link_to "Refill", reagent_refill_path(reagent), remote: true, method: "post", class: "btn btn-outline-success", data: { reagent_id: reagent.id } %></td>
                <td><%= link_to "Edit", edit_reagent_path(reagent), class: "btn btn-outline-info" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'New Reagent', new_reagent_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</main>