<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagents_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @reagent.name %>
    </p>

    <p>
      <strong>Tags:</strong>
      <%= @reagent.tags %>
      <% if @reagent.tags.present? %>
      <%= link_to "Category Details", reagent_category_path(@reagent.tags.first), class: 'btn btn-outline-info' %>
      <% end %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @reagent.cost %>
    </p>

    <p>
      <strong>Purchase Location:</strong>
      <%= @reagent.purchase_location %>
    </p>

    <p>
      <strong>Max Volume:</strong>
      <%= @reagent.max_volume %>
    </p>

    <p>
      <strong>Current Volume:</strong>
      <%= @reagent.current_volume %>
    </p>

    <%= link_to 'Edit', edit_reagent_path(@reagent), class: "btn btn-primary" %>
    <%= link_to 'Back', reagents_path, class: "btn btn-info" %>

    <hr>
    <p>
      <strong>Cocktails which use this reagent</strong>
    </p>

    <%= render 'shared/cocktails_table', cocktails: @cocktails %>
  </div>
</main>