<% content_for :per_page_js do %>
  <%= javascript_pack_tag "reagents_show", "data-turbolinks-track": 'reload' %>
<% end %>
<main>
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @reagent.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @reagent.reagent_category&.name || "No Category" %>
    </p>

    <p>
      <strong>Cost:</strong>
      <%= @reagent.cost %>
    </p>

    <p>
      <strong>Purchase Location:</strong>
      <%= @reagent.purchase_location %>
    </p>

    <p>
      <strong>Max Volume:</strong>
      <%= @reagent.max_volume %>
    </p>

    <p>
      <strong>Current Volume:</strong>
      <%= @reagent.current_volume_percentage %>
    </p>

    <%= link_to 'Edit', edit_reagent_path(@reagent), class: "btn btn-primary" %>
    <%= link_to 'Back', reagents_path, class: "btn btn-info" %>

    <hr>
    <p>
      <strong>Cocktails which use this reagent</strong>
    </p>
    <table class="table" id="cocktailsTable">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Toggle Favorite</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cocktails.each do |cocktail| %>
          <tr id="cocktail_<%= cocktail.id %>">
            <td><%= cocktail.id %></td>
            <td><%= cocktail.name.html_safe %></td>
            <td><%= link_to "Show", cocktail_path(cocktail), class: "btn btn-outline-info" %></td>
            <td><%= link_to "Delete", cocktail_delete_path(cocktail), class: "btn btn-outline-danger", method: "post", remote: true, data: { confirm: 'Are you sure you want to delete this cocktail?' } %></td>
            <td><%= link_to "Favorite", cocktail_toggle_favorite_path(cocktail), class: "btn btn-outline-primary", method: "post", remote: true %></td>
            <td class="favorite-column"><% if cocktail.favorite %>&#x2B50;<% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>