<!DOCTYPE html>
<html>
  <head>
    <title>Barkeep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

    <%# This isn't quite right, cause all my js is loaded when you navigate away from a page too %>
    <% if content_for? :per_page_js %>
      <%= yield :per_page_js %>
    <% end %>
    <%= javascript_pack_tag 'navbar', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-brand" href="/">Barkeep</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/cocktails">The Cocktail List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reagents">Your Bottles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shopping">Shopping Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/audits">Audit Log</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="/cocktails_async/drink_builder">Make a Drink</a>
            </li>
            <% end %>
          </ul>
          <div class="d-flex ms-auto">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/reagent_categories">Categories</a>
              </li>
              <% unless user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/shared_cocktails">Our Shared Cocktail List</a>
              </li>
              <% end %>
              <% if user_signed_in? %>
              <div class="navbar-text me-2">Hi <%= current_user.email %> (<%= link_to 'edit account', edit_user_registration_path %>)</div>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "btn btn-outline-primary" %>
              <% else %>
              <%= link_to 'Sign In', new_user_session_path, method: 'get', class: "btn btn-outline-primary" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3 pe-5"><span class="text-muted">Feedback? Feature Request? Email me at </span><a class="text-muted" href="mailto:eric.d.brown23+barkeep@gmail.com">eric.d.brown23@gmail.com</a><span class="text-muted">!</span></li>
      </ul>
    </footer>
  </body>
</html>
